@import '_variables.scss';


$sky-color: #D0F4F7;
$water-color: #A1D6E7;


$frame-width: 20vw;
$frame-height: 20vh;

body, html {
    margin: 0;
    padding:0;
}

#app {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.player {
    position: absolute;
    bottom: 20%;
    left: 120px;
    height:200px;
    width:174px;
    background-image: url(/player-sprite.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-size: 100% 500%;

}


.overworld {
    will-change: transform;
    width: 200vw;
    height: 100vh;
    position: absolute;
    left:0;

    .ground {
        background-image: url(/grass.svg); 
        background-size:contain;
        height:20%;
        bottom: 20%;
        position: relative;
    }

    .backgrounds {
        height: 100%;
        width: 100%;
        position: relative;
        background: $sky-color;

        div {
            background-size:contain;
            position: absolute;
            width:100%
        }

        .grass {
            height: 34%;
            bottom: 0;
            background-image: url(/grass-background.svg);
        }

        .cloud-1 {
            height: 50%;
            bottom: 0%;
            background-image: url(/cloud-background-1.svg);
          
        }

        .cloud-2 {
            height: 60%;
            bottom: 0%;
            background-image: url(/cloud-background-2.svg);
        }

        .clouds {
            height: 50%;
            top: 0%;
            @for $i from 1 through 4 {
                cloud:nth-child(4n + #{$i}) {
                    position: absolute;
                    background-image: url(/cloud-#{$i}.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.skyworld {
    left: 0;
    will-change: transform;
    height:200vh; 
    background:linear-gradient(to top, $sky-color, darken($sky-color, 50));
    position:absolute;
    width:100vw;

    .ladder {
        height: calc(100% + 80vh);
        top: 0;
        bottom: -100vh;
        background-image: url(/ladder.svg); 
        background-size:contain;
        width: 150px;
        left:128px;
        position: relative;
    }

    .frozen-player {
        visibility: hidden;
        position: absolute;
        bottom: 20%;
        left: 120px;
        height:200px;
        width:174px;
        background-image: url(/player-sprite.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-size: 100% 500%;
        background-position: 100% 75%;
    }
}

.castleWorld {
    position:absolute;
    height:100%;
    width:100%;

    .ceiling {
        background-image: url(/castle-ceiling.svg); 
        background-size:contain;
        height: 10%;
        top: 0;
        width: 100%;
        position: absolute;
        will-change: transform;
    }

    .ground {
        background-image: url(/castle-floor.svg); 
        background-size:contain;
        height: 20%;
        bottom: 0;
        width: 100%;
        position: absolute;
    }

    .wall {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(/castle-background.svg);
    }

    .frame-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;

        clip-path: polygon(
            0vw 0vh, 
            0vw 100vh, 
            calc((100vw - $frame-width)/2) 100vh, 
            calc((100vw - $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) 100vh, 
            100% 100%,
            100% 0vh
        );
    
        .frame {
            background:transparent;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            position: absolute;
            width: $frame-width; 
            height: $frame-height;
        }
    }

    .main-section {
        will-change: transform;
        position:absolute;
        width:200vw;
        height:100vh;
        top:0;
    }

    .tank-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;
        clip-path: polygon(
            0vw 0vh, 
            0vw 100vh, 
            calc((100vw - $frame-width)/2) 100vh, 
            calc((100vw - $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) 100vh, 
            100% 100%,
            100% 0vh
        );

        .tank {
            background:transparent;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            position: absolute;
            width: $frame-width; 
            height: $frame-height;
        }
    }


}

.waterWorld {
    background: $water-color;
    height: 100%;
    position: absolute;
    width: 100%;

    .tank-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;
        background: $water-color;
    }

    .main-section {
        will-change: transform;
        position:absolute;
        width:200vw;
        height:100vh;
        top:0;
        background: $water-color;
    }

    .ground {
        background-image: url(/sand.svg); 
        background-size:contain;
        height: 20%;
        bottom: 0;
        width: 100%;
        position: absolute;
    }
}