@import '_variables.scss';


body, html {
    margin: 0;
    padding:0;
    overflow-x: hidden;
    font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6, .title {
    font-weight:normal;
    font-family: $heading-font-family;
    margin-top:0;
}

#app {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.overworld {
    will-change: transform;
    height: 100vh;
    position: absolute;
    left:0;

    .ground {
        background-image: url(/imgs/grass.svg); 
        background-size:contain;
        height: $ground-height;
        bottom: 0%;
        position: absolute;
        width:100%;
    }

    .content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;

        & > .section {
            position:relative;
            height: 100%;

            > * {
                position: relative;
            }

            &#intro {
                min-width: 1920px;

                .banner {
                    top: calc(20vh - 40px)
                }

                .speech-bubble{
                    top: 20vh;
                }
                .sign {
                    left: 300px;
                    bottom: $ground-height;
                }

                .grass-leaf {
                    left: 500px;
                    bottom: $ground-height;
                }

                .bush {
                    left: 1300px;
                    bottom: $ground-height;
                }
    
                .tree {
                    left: 1600px;
                    bottom: $ground-height;
                }
            }

            &#capabilities {
                width: 1600px;

                .heading {
                    top: 30px;
                    text-align:center;
                    margin-bottom:50px;
                    top: calc(20vh)
                }

                .bush {
                    left: 1100px;
                    bottom: $ground-height;
                }

                .capabilites {
                    top: 20vh;
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: space-evenly;


                    .capability {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .star {
                            margin-top: 10px;
                            width: 90px;

                            &.faded {
                                opacity: 25%;
                            }
                        }
                    }
                }
            }

            &#ladder{
                width: 100vw;

                .bush {
                    left: 1100px;
                    bottom: $ground-height;
                }

                .grass-leaf {
                    left: 500px;
                    bottom: $ground-height;
                }
            }
        }
    }

    .backgrounds {
        height: 100%;
        width: 100%;
        position: absolute;
        background: $sky-color;

        div {
            background-size:contain;
            position: absolute;
            width:100%
        }

        .grass {
            height: 34%;
            bottom: 0;
            background-image: url(/imgs/grass-background.svg);
        }

        .cloud-1 {
            height: 50%;
            bottom: 0%;
            background-image: url(/imgs/cloud-background-1.svg);
          
        }

        .cloud-2 {
            height: 60%;
            bottom: 0%;
            background-image: url(/imgs/cloud-background-2.svg);
        }

        .clouds {
            height: 50%;
            top: 0%;
            @for $i from 1 through 4 {
                cloud:nth-child(4n + #{$i}) {
                    position: absolute;
                    background-image: url(/imgs/cloud-#{$i}.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.skyworld {
    left: 0;
    will-change: transform;
    position:absolute;
    width:100vw;

    .background {
        background:linear-gradient(to top, $sky-color, darken($sky-color, 50));
        width: 100%;
        height: calc(100% - 80vh + 2px);
        position: absolute;
    }

    .ladder {
        height: 100%;
        background-image: url(/imgs/ladder.svg); 
        background-size:contain;
        width: 150px;
        left:128px;
        position: absolute;
    }

    .heading {
        position: absolute;
        top: 100vh;
        width:100%;

        .title {
            padding:30px; 
            background:white;
            margin: 0 auto;
            width: 200px;
            text-align: center;
        }
    }

    .frozen-player {
        visibility: hidden;
        position: absolute;
        bottom: $ground-height;
        left: 120px;
        height:200px;
        width:174px;
        background-image: url(/imgs/player-sprite.svg);
        background-size:contain;
        background-repeat: no-repeat;
        background-size: 100% 500%;
        background-position: 100% 75%;
    }

    .content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        & > .section {
            position:relative;

            > * {
                position: relative;
            }

            &#technologies {
                width: 1200px;
                max-width:100vw;
                margin: 0 auto;

                .speech-bubble {
                    margin-bottom: 150px;
                    margin-top:150px;
                }
            
                .bush {
                    left: 1100px;
                    bottom: $ground-height;
                }

                .technologies {
                    display: flex;
                    flex-direction: column;

                    .technology {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        height:300px;
                        flex-wrap: wrap;
                        align-content: center;

                        h2 {
                            margin-bottom:0;
                            width:200px;
                            text-align:center;
                        }
                        .coin {
                            &.faded {
                                opacity: 25%;
                            }
                        }

                        .notes {
                            display:flex;
                            flex:100%;
                            justify-content: center;
                            margin-top: 20px;
                            
                            h4 {
                                margin-bottom:0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.castleWorld {
    position:absolute;
    height:100%;
    width:100%;

    .ceiling {
        background-image: url(/imgs/castle-ceiling.svg); 
        background-size:contain;
        height: 10%;
        top: 0;
        width: 100%;
        position: absolute;
        will-change: transform;
    }

    .ground {
        background-image: url(/imgs/castle-floor.svg); 
        background-size:contain;
        height: $ground-height;
        bottom: 0;
        width: 100%;
        position: absolute;
    }

    .wall {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(/imgs/castle-background.svg);
    }

    .frame-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;

        clip-path: polygon(
            0vw 0vh, 
            0vw 100vh, 
            calc((100vw - $frame-width)/2) 100vh, 
            calc((100vw - $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) 100vh, 
            100% 100%,
            100% 0vh
        );
    
        .frame {
            background:transparent;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            position: absolute;
            width: $frame-width; 
            height: $frame-height;
        }
    }

    .main-section {
        will-change: transform;
        position:absolute;
        width:200vw;
        height:100vh;
        top:0;
    }

    .tank-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;
        clip-path: polygon(
            0vw 0vh, 
            0vw 100vh, 
            calc((100vw - $frame-width)/2) 100vh, 
            calc((100vw - $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh - $frame-height)/2), 
            calc((100vw + $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) calc((100vh + $frame-height)/2), 
            calc((100vw - $frame-width)/2) 100vh, 
            100% 100%,
            100% 0vh
        );

        .tank {
            background:transparent;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            position: absolute;
            width: $frame-width; 
            height: $frame-height;
        }
    }


}

.waterWorld {
    background: $water-color;
    height: 100%;
    position: absolute;
    width: 100%;

    .tank-section {
        will-change: transform;
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;
        background: $water-color;
    }

    .main-section {
        will-change: transform;
        position:absolute;
        width:200vw;
        height:100vh;
        top:0;
        background: $water-color;
    }

    .ground {
        background-image: url(/imgs/sand.svg); 
        background-size:contain;
        height: $ground-height;
        bottom: 0;
        width: 100%;
        position: absolute;
    }
}

.absolute,
.overworld .content > .section > *.absolute {
    position: absolute;
}

.player {
    position: absolute;
    bottom: $ground-height;
    left: 120px;
    height:200px;
    width:174px;
    background-image: url(/imgs/player-sprite.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-size: 100% 500%;
}

.speech-bubble {
    max-width:600px;
    background:white;
    padding:50px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
    border-radius: 50px;
    margin: 0 auto;

    p:last-of-type {
        margin-bottom:0;
    }
}

.banner {
    background-image: url(/imgs/banner.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    color:white;
    height: 123px;
    width: 600px;
    padding-top:6px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    * {
        margin-top: 0;
        margin-bottom: 0;
    }
}